<!--Posts Index - Main Page-->

@model IEnumerable<CarRater.Models.Posts>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--Link to CSS Sheet for Javaccript style-->
    <link rel="Stylesheet" href="/css/site.css" type="text/css" />
    <title>Posts</title>
</head>

<!--Create Script of Message displayed in set hours-->
<div class="messageHour">
    <script type="text/javascript">

        document.write("<p1>");

        // Get time
        var day = new Date();
        var hr = day.getHours();

        // Select message to display within given timespace
        if ((hr == 0) || (hr == 1) || (hr == 2) || (hr == 3) || (hr == 4) || (hr == 5) || (hr == 6) || (hr == 7) ||
            (hr == 8) || (hr == 9) || (hr == 10) || (hr == 11) || (hr == 12)) {
            document.write("Good Morning! Welcome To CarRater!");
        }

        if ((hr == 13) || (hr == 14) || (hr == 15) || (hr == 16) || (hr == 17) || (hr == 18)) {
            document.write("Good Afternoon! Welcome To CarRater!");
        }

        if ((hr == 19) || (hr == 20) || (hr == 21) || (hr == 22) || (hr == 23)) {
            document.write("Good Evening! Welcome To CarRater!");
        }
        document.write("</p1>");
    </script>
</div>

<!--If Role = Admin then display create button-->
<body>
    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
    {
        <p>
            <a class="btn btn-lg btn-primary" position="center" style="border-width: 5px; border-color: white; margin-top: 20px; margin-bottom: 10px; width: auto; height: 80px;
                opacity: 0.6; font-size: 35px" asp-action="Create">Create New Post</a>
        </p>
    }

    <!--Table Row Headers-->
        <table class="table panel">
            <thead>
                <div class="panel-heading">
                    <tr>
                        <th>
                            Author of Post
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Source
                        </th>
                        <th>
                            Comment
                        </th>

                        @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {
                            <th>
                                Admin Panel
                            </th>
                        }
                        <th></th>
                    </tr>
                </div>
            </thead>

            <!--Contents of Table rows-->
            <tbody>
                @foreach (var item in Model)
                {
                    IdentityUser identityUser = await UserManager.FindByIdAsync(item.UserId);
                <tr>
                    <td>
                        @identityUser.UserName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <!--Image Dimensions and display-->
                    <td>
                        <img width="350" height="450" src="@item.Link" />
                    </td>
                    <!--Image source-->
                    <td>
                        <a href="@item.Link" target="blank">@item.Link</a>
                    </td>
                    <td>
                        <a asp-route-id="@item.Id" class="btn btn-sm btn-primary" style="border-width: 2px; border-color: white; margin-bottom: 10px; width: auto; height: auto;
                               opacity: 0.6; font-size: 16px" asp-action="Details">View Comments</a>
                    </td>
                    <!--If Role = Admin then display Edit-->
                    <td>
                        @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {
                            //Check if user is admin role and then display admin button along header
                            <a asp-route-id="@item.Id" class="btn btn-sm btn-primary" style="border-width: 2px; border-color: white; margin-bottom: 10px; width: auto; height: auto;
                               opacity: 0.6; font-size: 16px" asp-action="Edit">Edit Post</a>
                        }

                        <!--If Role = Admin then display Delete-->
                        @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {
                            //Check if user is admin role and then display admin button along header
                            <a asp-route-id="@item.Id" class="btn btn-sm btn-primary" style="border-width: 2px; border-color: white; margin-bottom: 10px; width: auto; height: auto;
                               opacity: 0.6; font-size: 16px" asp-action="Delete">Delete</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>

</body>
</html>
